---
import Footer from "../components/layout/Footer.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Korazza's portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#b91d47" />
		<meta name="theme-color" content="#172554" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="cover">
		<!-- <Header
			links={[
				{
					label: "Projects",
					href: "/projects",
				},
			]}
		/> -->
		<header></header>
		<main>
			<slot />
		</main>
		<Footer
			contacts={[
				{
					icon: "tabler:mail",
					href: "mailto:corattiroberto@gmail.com",
				},
				{
					icon: "tabler:brand-github",
					href: "https://github.com/Korazza",
				},
				{
					icon: "tabler:brand-twitter",
					href: "https://twitter.com/MrKorazza",
				},
				{
					icon: "tabler:brand-reddit",
					href: "https://www.reddit.com/user/MrKorazza",
				},
				{
					icon: "tabler:brand-discord",
					href: "https://discordapp.com/users/Korazza#3063",
				},
				{
					icon: "tabler:brand-paypal",
					href: "https://paypal.me/robertocoratti",
				},
			]}
		/>
	</body>
</html>

<style lang="scss" is:global>
	@use "@korazza/ui/src/scss/main";

	.cover {
		display: flex;
		flex-direction: column;
		min-block-size: 100svh;

		& > * {
			margin-block: var(--space);
		}

		& > :first-child:not(main) {
			margin-block-start: 0;
		}

		& > :last-child:not(main) {
			margin-block-end: 0;
		}

		& > main {
			margin-block: auto;
		}
	}

	body::before {
		content: "";
		position: absolute;
		height: 100svh;
		width: 100%;
		inset: 50% 50% auto auto;
		transform: translate(50%, -50%);
		background: radial-gradient(
			circle at 50% 80%,
			black 30%,
			var(--color-primary-900) 60%,
			black 90%
		);
		mix-blend-mode: lighten;
		z-index: -1;
		animation: 1500ms ease-out fadeIn;
	}

	@keyframes fadeIn {
		from {
			opacity: 0.25;
		}
		to {
			opacity: 1;
		}
	}
</style>
